
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}

.contenitore{
  width: 80%;
  margin: auto;
  margin-top: 3%;
}

.contenitore .link{
  display: inline-block;
  width: 31%;
  background-color: rgb(240, 240, 240);
  margin: 1%;
  position: relative;
  height: 450px;

}
.contenitore .card > img{
  width: 100%;
}

.top-right{
  background-color: red;
  height: 35px;
  width: 55px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 4%;
}

.color{
background-color: rgb(110, 227, 39);
}

.top-right p{
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.link .cuore img{
  width: 20px;
  margin-left: 49%;
  display: none;
}

.link:hover .cuore img{
  display: block;
}
